.card {
    margin: 2rem auto;
    height: 8rem;
    width: 15rem;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: blue;
    perspective: 1000px;
    transition: 0.12s;
    transform: perspective(1000px) rotateX(var(--rotate-X, 0));
    transform-style: preserve-3d;
}

.card.easy { 
    background-color: rgb(85, 221, 85);
}

.card.medium {
    background-color: rgb(242, 242, 116);
}

.card.hard {
    background-color: rgb(232, 61, 61);
}

.card:hover {
    border: 2px #ffffff solid;
    box-shadow: 0 0 1em #8e8e8e;
}

.card.flipped {
    --rotate-X: 180deg;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateX(180deg);
}